__pycache__/
*.py[cod]
*$py.class

.venv/
.env
venv/
env/
ENV/

.ipynb_checkpoints/

*.log

.pytest_cache/
.coverage
.history/
coverage.xml
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.DS_Store
Thumbs.db

.env
