LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=<YOUR LANGCHAIN API KEY>
GROQ_API_KEY=<YOUR GROQ API KEY>
PINECONE_API_KEY=<YOUR PINECONE API KEY>
PINECONE_ENV=qa-index
GEMINI_API_KEY=<YOUR GEMINI API KEY>
